force-app/main/default/flows/CS_EnviarAdjuntoDocumentoCaso.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Actualizar_Pantalla</name>
        <label>Actualizar Pantalla</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <actionName>c:actualizarPantalla</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Documento_Caso.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>CS_SmartSupervisionEnviarDocumentoCaso_MOMENTO_3</name>
        <label>Smart Supervision Enviar Documento Caso (MOMENTO 3)</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <actionName>CS_SendDocCasoAttachmentsSS_Invocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>EnvIoProgresoScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>documentosCasos</name>
            <value>
                <elementReference>Get_Documento_Caso</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Estado_del_Documento</name>
        <label>Estado del Documento</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>CS_SmartSupervisionEnviarDocumentoCaso_MOMENTO_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Otros</defaultConnectorLabel>
        <rules>
            <name>Enviado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Documento_Caso.CS_EstadoSincronizacionSuperfinanciera__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enviado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EnvioFallidoMensaje</targetReference>
            </connector>
            <label>Enviado</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Enviar Adjunto Documento Caso {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Enviar Adjunto Documento Caso</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Documento_Caso</name>
        <label>Get Documento Caso</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Estado_del_Documento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CS_DocumentoCaso__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>EnvioFallidoMensaje</name>
        <label>Envío Fallido</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorReenvioMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(179, 3, 3);&quot;&gt;ARCHIVO YA SINCRONIZADO&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(179, 3, 3);&quot;&gt;Si desea enviar nuevamente el archivo, cree un nuevo adjunto al caso y realice el envío desde este. &lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;i style=&quot;color: rgb(179, 3, 3);&quot;&gt;Si el problema persiste contacte con el administrador de su sistema.&lt;/i&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EnvIoProgresoScreen</name>
        <label>Envío en Progreso</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Actualizar_Pantalla</targetReference>
        </connector>
        <fields>
            <name>EnvioInciadoMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(4, 0, 137);&quot;&gt;ENVÍO INICIADO CORRECTAMENTE&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;El envío del documento adjunto al caso se ha iniciado correctamente.  Verifique el estado del mismo en el campo &quot;Estado sincronización Superfinanciera&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Documento_Caso</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
